﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="yapımarket.market._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style3 {
            width: 54px;
        }
        .auto-style5 {
            width: 54px;
            height: 23px;
        }
        .auto-style6 {
            width: 50px;
            }
        .auto-style8 {
            height: 284px;
        }
        .auto-style9 {
            width: 965px;
            height: 280px;
        }
        .auto-style10 {
            height: 23px;
        }
        .auto-style12 {
            height: 43px;
        }
        .auto-style14 {
            width: 211px;
            height: 315px;
        }
        .auto-style15 {
            height: 315px;
        }
        .auto-style17 {
            width: 211px;
        }
        .auto-style18 {
            width: 3315px;
        }
        .auto-style19 {
            width: 616px;
        }
        .auto-style20 {
            width: 100%;
            height: 217px;
            background-color: #000000;
        }
        .auto-style21 {
            height: 36px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" style="border-width: thin; border-style: groove; border-color: #000000;">
    
        <table class="auto-style1" style="border-style: outset; border-color: #FFFFFF">
            <tr>
                <td style="border-style: groove; border-width: medium; border-color: #000000;" class="auto-style8">
                    <img alt="" class="auto-style9" src="market/reser/orgbanner2.jpg" style="height: 288px; width: 1310px" /></td>
            </tr>
            <tr>
                <td style="border-style: groove; border-width: medium; border-color: #000000;" aria-autocomplete="none" aria-checked="mixed" class="auto-style10">
                    </td>
            </tr>
            <tr>
                <td style="border-style: groove; border-width: medium; border-color: #000000; background-color: #666666" class="auto-style12">
&nbsp;&nbsp; 
                    <asp:Label ID="Label1" runat="server" Text="......."></asp:Label>
                    <table>
                        <tr>
                            <td class="auto-style5" style="background-color: #666666">
                                <asp:TextBox ID="Txtkullanacı" runat="server"></asp:TextBox>
                            </td>
                            <td class="auto-style6" rowspan="2" style="background-color: #666666">
                                <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Giris" />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style3" style="background-color: #666666">
                                <asp:TextBox ID="Txtsifre" runat="server"></asp:TextBox>
                                <asp:Label ID="LblSayac" runat="server" Text="Label"></asp:Label>
                            </td>
                        </tr>
                    </table>
                    </td>
            </tr>
          </table>

    
        <table class="auto-style1" style="border-style: groove; border-color: #000000">
            <tr>
                <td class="auto-style17" style="border-style: groove; border-color: #000000">
                    <asp:Button ID="Button7" runat="server" BackColor="Red" BorderStyle="Dotted" OnClick="Button7_Click" Text="RESİMLER" Width="217px" />
                </td>
                <td style="border-style: groove; border-color: #000000" class="auto-style19">
                    &nbsp;</td>
                <td style="border-style: groove; border-color: #000000" class="auto-style18">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style14" style="border-style: groove; border-color: #000000">
                    <br />
                    <table class="auto-style20">
                        <tr>
                            <td>
                    <asp:Button ID="Button2" runat="server" Text="ÜRÜNLER" Height="28px" Width="211px" OnClick="Button2_Click" />
                           
                                 </td>
                        </tr>
                        <tr>
                            <td>
                                <asp:Button ID="Button5" runat="server" Height="30px" OnClick="Button5_Click" Text="EV GERECLERİ" Width="211px" />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style21">
                    <asp:Button ID="Button4" runat="server" Text="MOBİLYA" Height="28px" Width="211px" OnClick="Button2_Click" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <asp:Button ID="Button6" runat="server" Height="28px" Text="ELEKTRİKLİ EV ALETLERİ" Width="210px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <asp:Button ID="Button8" runat="server" Height="28px" Text="BİLGİSAYAR" Width="208px" OnClick="Button8_Click" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <asp:Button ID="Button9" runat="server" Height="28px" Text="MASA" Width="208px" OnClick="Button8_Click" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
                <td class="auto-style15" colspan="2" style="border-style: groove; border-color: #000000">
                    <asp:Repeater ID="Repeater1" runat="server" OnItemCommand="Repeater1_ItemCommand1">
                    
                            <ItemTemplate>
                            <table>
                            <tr>
                                <td>Adi:<%# Eval("Adi") %></td> 
                                </tr>
                                <tr> 
                                <td >Maddesi:<%# Eval("Maddesi","FirmaID") %></td>
                                     </tr>
                                <tr>
                                <td>Fiyat:<%# Eval("Fiyat") %></td>
                            </tr>
                                  <tr>
                                <td>----------------------------</td>
                            </tr>

                        </ItemTemplate>
                     
              
                       
                        
                    </asp:Repeater>
                   

                    <asp:Repeater ID="Repeater2" runat="server" OnItemCommand="Repeater2_ItemCommand">
                    </asp:Repeater>
                </td>
            </tr>
        </table>

    
    </form>
</body>
</html>
