﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="resimler.aspx.cs" Inherits="yapımarket.resimler" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
            height: 439px;
        }
        .auto-style2 {
            width: 1340px;
            height: 862px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1">
            <tr>
                <td>
                    <img alt="" class="auto-style2" src="market/reser/18.jpg" /></td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
