﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Uye.aspx.cs" Inherits="yapımarket.Uye" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <asp:DataList ID="DataList1" runat="server">
            <ItemTemplate> ID = <%#Eval("ID") %>
                <br />
            Ad = <%#Eval("Ad") %>
                <br />
                Soyad = <%#Eval("Soyad") %>
                <br />
                 Email = <%#Eval("Email") %>
                <br />
              
                <asp:Button ID="btnDuzenle" runat="server" Text="Düzenle" /><asp:Button ID="btnSil" runat="server" Text="Sil" />

                
            </ItemTemplate>
        </asp:DataList>
    </form>
     